<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let offering of Offerings ;let i=index">
    <ion-row>

      <ion-col size="10">
        <p class="item-name  color-secondary">{{offering.product.title}}</p>
        <p class="date-item color-primary"> {{offering.product.description}}</p>
      </ion-col>

      <ion-col size="2">
        <p class="item-name color-secondary">{{offering.product.currency_code}}{{offering.product.price}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-button (click)="getOfferings()" shape="round">Round Button</ion-button>
</ion-content>